*{
    margin: 0;
    padding: 0;
}

.navigation{
    position: fixed;
    display: grid;
    top: 0;
    left: 0;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: whitesmoke;
    width: 100%;
    z-index: 99;

    grid-template-columns: 1fr 200px;
}

.navigation > ul{
    margin-left: 2%;
    padding: 0;
    list-style: none;
}
.navigation > ul li{
    display: inline-block;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 2%;
    font-size: 18pt;
}
.navigation > ul > li > a{
    text-decoration: none;
    color: black;
}
.navigation > div{
    padding-top: 3px;
    padding-bottom: 3px;
}
.navigation > div > a{
    font-size: 18pt;
    text-decoration: none;
    color: black;
}

.paralist > ul li{
    display: inline-block;
    margin-right: 2%;
    margin-left: 2%;
}

.center{
    text-align: center;
}

.main{
    margin-left: 5%;
    margin-right: 5%;
}


@media screen and (max-width:560px) {
    .navigation{
        position: fixed;
        display: grid;
        top: 0;
        left: 0;
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: whitesmoke;
        width: 100%;
        z-index: 99;
        grid-template-columns: 1fr 7rem;
    }
    .navigation > ul li{
        display: inline-block;
        padding-top: 3px;
        padding-bottom: 3px;
        margin-left: 2%;
        font-size: 12pt;
    }
    .navigation > div > a{
        font-size: 12pt;
        text-decoration: none;
        color: black;
    }
}