*{
    margin: 0;
    padding: 0;
}

.navigation{
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: whitesmoke;
}

.navigation > ul{
    margin-left: 2%;
    padding: 0;
    list-style: none;
}

.navigation > ul li{
    display: inline-block;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 2%;
}

/* .navigation > ul li a{
    text-decoration: none;
    color: black;
    font-size: 18pt;
    font-weight: normal;
} */

/* .navigation > ul li a:hover{
    color: rgb(136, 136, 136);
} */

ul {
    list-style: none;
}

.paralist > ul li{
    display: inline-block;
    margin-right: 2%;
    margin-left: 2%;
}

.center{
    text-align: center;
}