.page{
    width: 100%;
    min-height: 100vh;
}

.name{
    padding-top: 90px;
    text-align: center;
    font-family: "HG明朝B";
    font-size: 80pt;
}

.index{
    font-size: 32pt;
    text-align: center;
    font-family: "HG明朝B";

    list-style: none;

    margin-top: 90px;
    width: 440px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    border-radius: 30px;
}
.index > li{
    padding-top: 10px;
    padding-bottom: 10px;
}
.index > li > a{
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black;
}

.sectionhead{
    text-align: center;
    font-size: 32pt;
    font-family: "HG明朝B";

    padding-top: 80px;
}

.pgstudycontent{
    box-sizing: border-box;
    height: calc(100vh - 80px - 60pt);
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 20px 480px;
    grid-template-rows: 1fr 10px 2fr;
}

.willstudy{
    grid-column: 1 / 2;
    grid-row: 1;
}
.willstudy > div{
    position: relative;
    top: 20px;

    /* background-color: #D4F2FF; */
    border: 1px solid black;
    border-radius: 20px;
    height: calc(100% - 20px);
}
.willstudy > div > span{
    position: relative;
    font-size: 24pt;
    font-family: "HGｺﾞｼｯｸM";
    margin-left: 80px;
    padding-left: 10px;
    padding-right: 10px;
    top: -20px;

    /* background-color: #8AF0FF; */
    background-color: white;


    border: 1px solid black;
    border-radius: 10px;
}
.willstudy > div > div{
    margin-left: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.willstudy > div > div >img{
    padding-bottom: 20px;
}

.studying{
    grid-column: 3/4;
    grid-row: 1;
}
.studying > div{
    position: relative;
    top: 20px;

    /* background-color: #DAFFD4; */
    border: 1px solid black;
    border-radius: 20px;
    height: calc(100% - 20px);
}
.studying > div > span{
    position: relative;
    font-size: 24pt;
    font-family: "HGｺﾞｼｯｸM";
    margin-left: 80px;
    padding-left: 10px;
    padding-right: 10px;
    top: -20px;

    /* background-color: #8AFF94; */
    background-color: white;

    border: 1px solid black;
    border-radius: 10px;
}
.studying > div > div{
    margin-left: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.studying > div > div >img{
    padding-bottom: 20px;
}

.canuse{
    grid-column: 1 / 4;
    grid-row: 3;
}
.canuse > div{
    position: relative;
    top: 20px;

    /* background-color: #FFFDAA; */
    border: 1px solid black;
    border-radius: 20px;
    height: calc(100% - 20px);
}
.canuse > div > span{
    position: relative;
    font-size: 24pt;
    font-family: "HGｺﾞｼｯｸM";
    margin-left: 80px;
    padding-left: 10px;
    padding-right: 10px;
    top: -20px;

    /* background-color: #FFDD4A; */
    background-color: white;

    border: 1px solid black;
    border-radius: 10px;
}
.canuse > div > div{
    margin-left: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.canuse > div > div >img{
    padding-bottom: 20px;
}

.history{
    margin-top: 50px;
    width: 100%;

    font-family: "HG明朝B";
    font-size: 18pt;
}

.history > ul{
    width: fit-content;
    display: block;
    margin: 0 auto;
}

.history > ul > li{
    overflow: hidden;
    margin: 0;
    position: relative;
    display: grid;
    grid-template-columns: 180px 1fr;
}
.history > ul > li *{
    padding-top: 10px;
}
.history > ul > li > span{
    grid-column: 1 / 2;
    margin-left: auto;
    margin-right: 15px;
}
.history > ul > li > div{
    grid-column: 2 / 3;
    padding-left: 15px;
    min-height: 60px;
    padding-bottom: 10px;
    border-left: 3px black solid;
}
.history > ul > li > div:before{
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    background: black;
    left: 175px;
    top: 15px;
    border-radius: 100%;
}

.strongs{
    width: fit-content;
    font-family: "HG明朝B";
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.strongs>ul>li{
    list-style: none;
    padding-bottom: 30px;
}
.strongs>ul>li>p{
    margin-bottom: 10px;
    font-size: 32pt;
}

.strongs>ul>li>ul{
    margin-left: 20px;
}
.strongs>ul>li>ul>li{
    width: fit-content;
    list-style: none;
    font-size: 18pt;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}