.container{
    margin-left: 3%;
    margin-right: 3%;
}

.center{
    text-align: center;
}

.tablecenter{
    margin: auto;
    border-collapse: collapse;
    width: 20%;
}

.welcome{
    position: relative;
    background-size: cover;
}

.welcome > h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 64pt;
    letter-spacing: 30px;
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
    text-shadow:    -1px -1px 0 black, -1px 0 0 black, -1px 1px 0 black,
                    0 -1px 0 black,    0 1px 0 black,
                    1px -1px 0 black,  1px 0 0 black,  1px 1px 0 black;
}

.welcome img{
    filter: blur(8px) brightness(0.8) drop-shadow(0 0 0 green);
    top:-8px;
    bottom: -8px;
    opacity: 10;
}

.datacontainer{
    margin-left: 3%;
    font-size: 32pt;
}

.datacontainer > .data{
    margin-top: 2%;
}

.datacontainer > .data > p{
    margin-left: 3%;
}

.bg_data{
    background: url(/shibaura.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
    height: 100vh;
    z-index: 0;
}

.bg_data:before{
    content: '';
    background: inherit;
    filter: blur(10px) brightness(1.1) saturate(1.3);
    position: absolute;
    top: -10px;
    left:-10px;
    right: -10px;
    bottom: -10px;
    z-index: -1;
}

.bg_data > .container{
    padding-left: 1%;
    padding-right: 1%;
    text-shadow:-1px -1px 0 white;
    background-color: rgba(180, 200, 200, 0.4);
}

.bg_data > .container > h2{
    margin-top: 10%;
    font-size: 50pt;
}

.sns{
    position: relative;
    padding-top: 1px;
    background-color: rgb(200, 255, 250);
}

.sns > .container{
    text-align: center;
    padding-top: 5%;
}

.sns >.container> h2{
    font-size: 68pt;
    letter-spacing: 11pt;
}

.sns > .container > h3{
    padding-top: 3%;
    font-size: 52pt;
}

.sns > .container > div > ul > li{
    transition: 0.2s;
}

.sns > .container > div > ul > li:hover{
    transform: scale(1.1);
}