.head1{
    text-align: center;
    letter-spacing: 20px;
    color: white;
    font-size: 30pt;
    margin-top: 5%;
}

.index{
    position: relative;
    margin-top: 1%;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border: 3px dashed whitesmoke;
    border-radius: 90px;
}

.letterbox{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 10%;
}

.MOKUJI{
    letter-spacing: 15px;
    font-size: 24pt;
}

.letterbox > ul > li > a{
    color: white;
    font-size: 20pt;
}

.top{
    background: url(/codeback.png);
    background-size: cover;
    position: relative;
    overflow: hidden;
    height: 100vh;
    z-index: 0;
}

.imgback:before{
    content: '';
    background: inherit;
    filter: blur(10px) brightness(1.1) saturate(1.3);
    position: absolute;
    top: -10px;
    left:-10px;
    right: -10px;
    bottom: -10px;
    z-index: -1;
}

.prod{
    width: 100%;
    display:flex;
}

.prodleft{
    flex-grow: 1;
    width: 50%;
}

.prodleft > img{
    margin-top: 20%;
    margin-left: 5%;
    width: 90%;
    border: 3px groove black;
}

.prodright{
    flex-grow: 1;
    width: 50%;
    margin-top: 5%;
    border-left: 5px solid rgb(172, 182, 138);
}

.prodright > .content{
    margin-left: 3%;
    margin-right: 3%;
    background-color: rgba(201, 199, 94, 0.4);
}

.prodtitle{
    text-align: center;
    background-color: aliceblue;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 90px;
}

.prodslide{
    height: 70%;
}

.prodslide > iframe{
    display: block;
    width: 70%;
    height: 100%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}